body,
html {
    height: 95vh;

}



.indexbody, .feedbackbody{
    background-color: #3E6680;
}

.display-4 {
    font-size: 32pt;
    text-align: center;
    font-weight: bold;
}

.warningcontainer {
    
    padding: 3rem;
    height: 90vh;
}

.warningcontainercontainer {
    color: #3E6680;
}

.covidwarning {
    background-color: white;
    color: black;
    font-size: 24pt;
    text-align: center;
    font: 0.5vw;
    margin: 0rem;

}

#btnlocation {
    margin: 2rem;
    justify-content: center;
    align-items: center;
}

#crowdsourcetext {
    font-size: 24pt;
    text-align: center;
}

.covidwarningcontainer {
    
    background-color: white;
}

.crowdsourcebtn {
    border-radius: 10pt;
    margin: 1rem;
    padding: 1rem;
    background-color: #007bff;
    color: white;
    font-size: 1.1rem
}

.crowdsourcebtn:hover {
    /* background-color: #00487C; */
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.crowdsourcebtncontainer {
    widows: 80%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    margin-top: 0rem;
}

.currentbus{
    background-color: white;
    margin-bottom: 0rem;
    padding: 0rem;
}
#thankyoutext {
    font-size: 40px;

}

#thankyoutextcontainer {
    text-align: center;
    justify-content: center;
}



#covidwarningheader {
    font: 3vw;
}

.footercolor {
    background-color: #00487C;
    padding: 1rem;
    margin: 0px;
    position: sticky;
    bottom: 0;
    width: 100%;

}

#sticky {
    background-color: #00487C;
    padding: 1rem;
    margin: 0px;
    position: sticky;
    bottom: 0;
    width: 100%;
}

.tripfooter {
    color: #00487c;
    margin-top: 0;
}



.feedbackfooter {
    position: fixed;
    margin-top: 30rem;
}

.formcontainer {
    background-color: white;
}

form {
    justify-content: center;
    text-align: center;
    font-size: 16pt;
    background-color: white;
    padding-top: 5rem;
    margin-top: 10rem;

}

label{
    color: black;
}

.timetableform {
    height: 101%;
    background-color:  #3E6680;
    margin: 0;
}
.btnSets, #time, .destination, #current {
    
   
    background-color: white;
}

#current{
    padding-top: 3rem;
}


.btnSets .btn1{
    margin-top: 40px;
    margin-bottom: 20px;
}

.btnSets .btn2{
    margin-top: 2rem;
    margin-left: 5rem;
    margin-bottom: 1rem;
}


#firebaseui-auth-container{
    padding-top: 5rem;
    background-color: #3E6680 ;
    height: 101%;
}

#infoContainer {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 3rem;
    font-size: 24pt;
    padding: 0rem;
    margin-bottom: 0rem;
}

<<<<<<< HEAD
=======
.arrived {
    color: white;
    border-radius: 5%;
    border: white 2px solid;

}
>>>>>>> 3dcda57e313d672446027fafcf97847c6f1ac6c1
/* media query for mobile size*/
@media screen and (max-width: 600px) {
    #infoContainer {
        background-color: white;
        text-align: center;
    }

    .crowdsourcebtncontainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

/* media query for desktop size*/
@media screen and (min-width: 1200px) {
    #infoContainer {
        background-color: white;
    }

    .crowdsourcebtncontainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btnSets{
        padding-right: 60px;
        padding-left: 60px;
    }
}