body, html{
   height: 100vh;
   background: #3E6680; 
}


.display-4{
    font-size: 32pt;
    text-align: center;
    font-weight: bold;
}
.covidwarning{
    font-size: 24pt;
    text-align: center;
    font: 1vw;
    
}

#btnlocation{
  
   justify-content: center;
   align-items: center;
}

#crowdsourcetext{
    font-size: 24pt;
    text-align: center;
}

.crowdsourcebtn{
    border-radius: 10pt;
    margin: 1rem;
    padding: 1rem;
    background-color: #3E6680;
    color: white;
    font-size: 1.1rem
}

.crowdsourcebtn:hover{
    background-color: #00487c;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.crowdsourcebtncontainer{
    display:flex;
    justify-content: center;
    align-items: center;    
}

#thankyoutext{
    font-size: 40px;
    
}

#thankyoutextcontainer{
    text-align: center;
    justify-content: center;
}



#covidwarningheader{
    font: 3vw;
}

.footercolor{
    background-color: #00487C;
    padding: 1rem;
    margin: 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.tripfooter{
    margin-top: 0rem;
}
.feedbackfooter{
    position: fixed;
    margin-top: 30rem;
}
form {
    justify-content: center;
    text-align: center;
    font-size:  16pt;
    background-color: white;
    padding-top: 10rem;
   
}
form div {
    background-color: white;
   
}

.timetableform{
    height: 90%;
}
.btnSets .btn1{
    margin-right: 5rem;
    margin-bottom: 1rem;
}
.btnSets .btn2{
    margin-left: 5rem;
    margin-bottom: 1rem;
}

#firebaseui-auth-container{
    margin-top: 15rem;
    background-color: #3E6680 ;
    height: 90%;
}
#infoContainer {
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
    font-size: 25pt;
}
/* media query for mobile size*/
@media screen and (min-width: 0px) {
    #infoContainer {
        background-color:white;
        text-align: center;
    }
    .crowdsourcebtncontainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

/* media query for desktop size*/
@media screen and (min-width: 600px) {
    #infoContainer {
        background-color:white;
    }
    .crowdsourcebtncontainer{
        display:flex;
        justify-content: center;
        align-items: center;    
    }
}